* {
    margin: 0;
    padding: 0;
}

.add-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

img {
    height: 150px;
    width: 150px;
}

input {
    width: 35px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 5px;
    border-radius: 4px;
    padding: 3px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-item-button {
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    font-weight: 800px;
    padding: 3px;
}

.add-item-button:hover {
    color: rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.add-item-button:active {
    transform: rotateX(25deg)
}