.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 4px;
    background-color: white;
    border: none;
    font-size: 25px;
    font-weight: 700;
    width: 30px;
    height: 30px;
}

.buttons:hover {
    color: rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.shell {
    display: flex;
    gap: 40px;
    flex-direction: row;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.image {
    margin-left: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}